{% extends 'base.html.twig' %}

{% block title %}Aplicaciones index{% endblock %}

{% block body %}
    <h1>Aplicaciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Apikey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aplicacione in aplicaciones %}
            <tr>
                <td>{{ aplicacione.id }}</td>
                <td>{{ aplicacione.nombre }}</td>
                <td>{{ aplicacione.activo ? 'Yes' : 'No' }}</td>
                <td>{{ aplicacione.apikey }}</td>
                <td>
                    <a href="{{ path('app_aplicaciones_show', {'id': aplicacione.id}) }}">show</a>
                    <a href="{{ path('app_aplicaciones_edit', {'id': aplicacione.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_aplicaciones_new') }}">Create new</a>
{% endblock %}